Test-Track1
Track1
Track1-MSI-3
Track1-RGB
Track1-Truth
test-RGB
tf_logs
VC
*.log
generatedImages
test-RGB256x256
test-RGB128x128
validation
test-RGB128x128split2
test-RGB128x128split4
test-RGB128x128split8
RGB-From-Track1
RGB-From-Track1128x128split8
Track1-Truth128x128split8
savedModels